// This file was auto-generated by Fern from our API Definition.

package tokens

import (
	context "context"
	http "net/http"
	core "pogodoc/go/sdk/core"
	internal "pogodoc/go/sdk/internal"
	option "pogodoc/go/sdk/option"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Invalidates an API token by storing it in the deleted tokens S3 bucket, preventing future use of the token for authentication.
func (c *Client) DeleteApiToken(
	ctx context.Context,
	tokenId string,
	opts ...option.RequestOption,
) error {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.pogodoc.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api-tokens/%v",
		tokenId,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)

	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodDelete,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
		},
	); err != nil {
		return err
	}
	return nil
}
